html,
body {
    /*height: 100%;*/
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.unread a:first-child {
    font-weight: bold;
}

/*--------- Other -----------*/
.info-test-sms{
    padding-top: 16px;
    font-weight: normal
}

/*--------- price table -----------*/
.raw>.col-md-2:first-child>div>ul>li:first-child, .raw>.col-md-2:last-child>div>ul>li:first-child{
    line-height: 20px;
}

.features {
    list-style:none;
    margin:12px 0px 0px 0px;
    padding:0;
}

.features>li:first-child {
    border-bottom: 2px solid #ccc;
}

.features>li {
    line-height: 40px;
    color:#3d3d3d;
    border-bottom: 1px solid #ccc;
}

.inverted4  {
    background:#353333;
    transition: background 0.8s ease;
}
.inverted5  {
    background:#2f8c29;
    transition: background 0.8s ease;
}
.inverted6, .inverted3  {
    background: rgba(240, 237, 220, 0.72);
    transition: background 0.8s ease;
}

.inverted>ul>li,
.inverted4>ul>li,
.inverted5>ul>li,
.inverted>ul>li {
    color: #ddd !important;
}

.inverted4 .features>li:nth-child(2n+1) {background-color: #fda90a;}

.inverted5 .features>li:nth-child(2n+1) {background-color: rgba(110, 9, 191, 0.76);}

.inverted6 .features>li:nth-child(2n+1) {
    background:#353333;
    color: #ddd !important;
    transition: background 0.8s ease;
}

.inverted3 .features>li:nth-child(2n+1) {
    background:#f95252;
    color: #ddd !important;
    transition: background 0.8s ease;
}
/*--------- price table -----------*/
