.smartsites-slider .wrapper {
  height: 600px;
}
.smartsites-slider .items {
  max-height: 600px;
  /*overflow: hidden;*/
}
.smartsites-slider .items .item {
  position: absolute;
  overflow: visible;
  visibility: hidden;
  top: 0;
}
.smartsites-slider .items .item.active {
  visibility: visible;
}
.smartsites-slider .animation {
  max-height: 335px;
  overflow: hidden;
  margin: 265px auto 0 auto;
}
.smartsites-slider .caption {
  z-index: 1010;
  position: relative;
  top: -520px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.smartsites-slider .caption span {
  position: relative;
  display: block;
  top: -40px;
  opacity: 0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  -o-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.smartsites-slider .caption small {
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  -o-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  display: block;
  position: relative;
  top: -40px;
  opacity: 0;
}
.smartsites-slider .active .caption span {
  top: 0;
  opacity: 1;
}
.smartsites-slider .active .caption small {
  top: 0;
  opacity: 1;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
