/*===============
Main
===============*/
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 676px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	color: #424242;
}
h1 {
	font-size: 46px;
	font-size: 4.6rem;
}
h2 {
	font-size: 36px;
	font-size: 3.6rem;
}
h4 {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
}
h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin {
	font-weight: 300;
}
h1.bordered,
h2.bordered,
h3.bordered,
h4.bordered,
h5.bordered {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 15px;
}
/*a {
	color: @orange-500;
	&:hover, &:focus {
		color: @orange-300;
	}
}*/
input.form-control {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	padding: 10px;
	color: #757575;
	font-weight: 400;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 24px;
	box-shadow: none;
	height: 45px;
}
textarea.form-control {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	padding: 10px;
	color: #757575;
}
*:focus {
	outline: none !important;
}
*:active {
	outline: none !important;
}
::-moz-selection {
	background: #ff9800;
	color: #fff;
}
::-webkit-selection {
	background: #ff9800;
	color: #fff;
}
::selection {
	background: #ff9800;
	color: #fff;
}
/*===============
Header
===============*/
header.main {
	background-color: #fff;
	height: 75px;
	padding: 15px 0;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	font-size: 14px;
	font-size: 1.4rem;
}
header.main.header-small {
	padding: 0;
}
header.main .icon-bar {
	background: #424242;
}
header.main a.navbar-brand {
	padding: 0;
	display: inline-block;
	line-height: 45px;
}
header.main .navbar {
	margin-bottom: 0;
}
header.main .navbar-nav > li.active > a {
	color: #ff9800;
}
header.main .navbar-nav > li > a {
	padding: 0 15px;
	line-height: 45px;
	color: #424242;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}
header.main .navbar-nav > li > a:hover {
	background: none;
	color: #ff9800;
}
header.main .navbar-nav > li.enter-btn {
	padding-top: 5px;
}
header.main .navbar-nav > li.enter-btn a {
	background: #9ccc65;
	border-radius: 3px;
	line-height: 30px;
	text-transform: none;
	color: #fff;
}
header.main .navbar-nav > li.enter-btn a:hover {
	background: #aed581;
}
header.main .navbar-nav > li.reg-btn {
	padding-top: 5px;
	padding-left: 0;
}
header.main .navbar-nav > li.reg-btn a {
	background: #ff9800;
	border-radius: 3px;
	line-height: 30px;
	text-transform: none;
	color: #fff;
}
header.main .navbar-nav > li.reg-btn a:hover {
	background: #ffb74d;
}
header.main .navbar-offcanvas {
	background: #fff;
}
/*===============
Geo
===============*/
.geo {
	margin-left: 15px;
	margin-top: -16px;
	height: 75px;
	padding: 15px;
	/*padding-top: 6px;*/
	background: #f5f5f5;
	font-size: 16px;
	font-size: 1.6rem;
}
.geo > a {
	display: block;
	width: 18px;
	height: 12px;
	margin: 5px 0;
}
.geo .dropdown-menu {
	left: -20px;
}
.geo .dropdown-menu-white {
	background: #f5f5f5;
}
/*===============
Header phone
===============*/
.header-phone {
	margin-left: 15px;
}
.header-phone .country {
	font-size: 12px;
	font-size: 1.2rem;
}
.header-phone .country .dropdown {
	display: inline-block;
}
.header-phone .country .dropdown > a {
	border-bottom: 1px dotted;
	text-decoration: none;
}
.header-phone .country .dropdown-menu a {
	font-size: 14px;
	font-size: 1.4rem;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.header-phone .country .dropdown-menu a:hover {
	color: #ff9800;
}
.header-phone .number {
	font-size: 18px;
	font-size: 1.8rem;
	margin-top: 5px;
}
.header-phone .number a {
	text-decoration: none;
	color: #424242;
}
/*===============
Slider
===============*/
.slider.main {
	height: 600px;
	background: transparent;
	position: relative;
}
.slider.main .caption {
	font-weight: 700;
}
.slider.main .caption span {
	font-size: 42px;
	font-size: 4.2rem;
}
.slider.main .caption small {
	font-size: 21px;
	font-size: 2.1rem;
}
.slider.main .panel {
	background: none;
	width: 45px;
	position: absolute;
	top: 50%;
	margin-top: -90px;
	left: 15px;
	border: none;
	box-shadow: none;
}
.slider.main .panel img {
	height: 30px;
	width: auto;
}
.slider.main .panel a {
	padding-top: 7.5px;
	width: 45px;
	height: 45px;
	text-align: center;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	margin: 7.5px 0;
	opacity: 0.5;
	position: relative;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.slider.main .panel a:hover {
	opacity: 1;
}
.slider.main .panel a.active {
	opacity: 1;
}
/*===============
Phone slider
===============*/
.phone-slider {
	position: relative;
	z-index: 10;
	width: 263px;
	height: 534px;
	background: url('/img/phone_slider/bg.png') center no-repeat;
}
.phone-slider.pull-right {
	margin-left: 15px;
}
.phone-slider .carousel-inner {
	position: relative;
	margin-top: 53px;
	margin-left: 12px;
	width: 238px;
	height: 424px;
	overflow: hidden;
	z-index: -10;
}
/*===============
Blocks
===============*/
.block {
	padding-top: 90px;
	/*==========
	  - Page header
	  ==========*/
	/*==========
	  - Contacts
	  ==========*/
	/*==========
	  - Pricing
	  ==========*/
	/*==========
	  - Content
	  ==========*/
	/*==========
	  - FAQ
	  ==========*/
	/*==========
	  - Capabilities
	  ==========*/
}
.block.small {
	padding-top: 60px;
}
.block.block-reg {
	padding: 90px 0;
	background: url('/img/sms_bg/sms_bg_1.png') left no-repeat, url('/img/sms_bg/sms_bg_2.png') right no-repeat;
	background-color: #f5f5f5;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
}
.block.block-reg small {
	display: inline-block;
	margin-top: 10px;
}
.block.block-reg .h2-style {
	display: block;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 30px;
}
.block.block-reg .btn {
	margin-top: 30px;
}
.block.block-stat {
	padding: 90px 0;
	color: #fff;
	font-size: 48px;
	font-size: 4.8rem;
	text-transform: uppercase;
	background: url('/img/bg.png');
	background-size: 100% auto;
	background-size: cover;
}
.block.block-stat small {
	display: block;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	margin-top: -10px;
}
.block.block-for {
	padding: 90px 0;
	margin-top: 90px;
	color: #fff;
	font-weight: 300;
}
.block.block-for .title {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 30px;
}
.block.block-for input {
	display: inline-block;
}
.block.block-for a {
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	display: block;
	text-decoration: none;
	position: relative;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
	padding: 15px;
	border-radius: 3px;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	min-height: 125px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}
.block.block-for a:hover {
	top: -10px;
	background: rgba(0, 0, 0, 0.4);
}
.block.block-for a > div {
	width: 100%;
}
.block.block-for .icon {
	margin-bottom: 15px;
	position: relative;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	top: 0;
}
.block.block-for h3 {
	font-size: 36px;
	font-size: 3.6rem;
	margin-bottom: 60px;
}
.block.block-for .for-sub-block {
	font-size: 14px;
	font-size: 1.4rem;
}
.block.block-how-to {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
}
.block.block-how-to .text {
	line-height: 24px;
}
.block.block-how-to small {
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}
.block.block-how-to .icon-wrapper {
	margin-right: 15px;
}
.block.block-how-to > div,
.block.block-how-to > a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
}
.block.block-how-to > a {
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.block.block-how-to > a:hover {
	color: #fff;
}
.block.block-how-to > a:hover.bg-indigo-200 {
	background: #8d97d3;
}
.block.block-how-to > a:hover.bg-blue-200 {
	background: #78bef8;
}
.block.block-how-to > a:hover.bg-green-200 {
	background: #93ce96;
}
.block.block-how-to > a:active {
	color: #fff;
}
.block.block-how-to > a:active.bg-indigo-200 {
	background: #828dcf;
}
.block.block-how-to > a:active.bg-blue-200 {
	background: #69b8f7;
}
.block.block-how-to > a:active.bg-green-200 {
	background: #89c98c;
}
.block.block-how-to > a:focus {
	color: #fff;
}
.block.block-how-to .wrapper {
	display: inline-block;
	text-align: left;
}
.block.block-reviews {
	padding: 90px 0;
	background: url('/img/sms_bg/sms_bg_5.png') left no-repeat, url('/img/sms_bg/sms_bg_6.png') right no-repeat;
	background-color: #f5f5f5;
}
.block.block-news {
	padding-bottom: 90px;
}
.block.block-news p {
	margin-bottom: 20px;
}
.block.block-news .all-news {
	margin-top: 30px;
}
.block.block-news a {
	color: #757575;
	font-size: 12px;
	font-size: 1.2rem;
}
.block.block-news a:hover {
	color: #ff9800;
}
.block.block-start {
	color: #fff;
	padding: 90px 0;
	background: url('/img/bg.png') bottom;
	background-size: 100% auto;
	background-size: cover;
}
.block.block-start h3 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 30px;
}
.block.mobile-header-block {
	padding: 60px 0;
	color: #fff;
}
.block.mobile-header-block h2 {
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 700;
}
.block.mobile-header-block small {
	display: block;
	color: #fff;
}
.block.block-page-header {
	padding: 60px 0;
	color: #fff;
	/*.breadcrumb {
			  color: @grey-100;
			  background: none;
		  }*/
}
.block.block-page-header h1 {
	font-weight: 700;
	text-shadow: 0 2px rgba(0, 0, 0, 0.1);
	margin: 0;
}
.block.block-page-header .breadcrumb {
	text-align: center;
	background: none;
	padding: 0;
	position: relative;
	top: 45px;
	margin-top: -30px;
	color: #fff;
}
.block.block-page-header .breadcrumb > .active {
	color: #fff;
}
.block.block-page-header .breadcrumb > li + li:before {
	color: #fff;
}
.block.block-page-header .breadcrumb a {
	color: #fff;
	text-decoration: underline;
}
.block.block-page-header .breadcrumb a:hover {
	text-decoration: underline;
}
.block.block-contact {
	padding: 90px 0;
}
.block.block-contact h2 {
	margin-top: 0;
	margin-bottom: 15px;
}
.block.block-contact .photo {
	margin-right: 15px;
}
.block.block-contact h4 {
	margin-top: 0;
}
.block.block-contact a {
	text-decoration: none;
	display: inline-block;
	color: #424242;
}
.block.block-contact a * {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
.block.block-contact a span {
	position: relative;
	left: -10px;
}
.block.block-contact a .fa {
	opacity: 0;
	position: relative;
	left: 5px;
}
.block.block-contact a:hover {
	color: #ff9800;
}
.block.block-contact a:hover .fa {
	opacity: 1;
	left: 0;
}
.block.block-contact a:hover span {
	left: 5px;
}
.block.block-contact .sales {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 3px;
}
.block.block-contact-phone {
	background: url('/img/sms_bg/sms_bg_5.png') left no-repeat, url('/img/sms_bg/sms_bg_6.png') right no-repeat;
	background-color: #f5f5f5;
	padding: 60px 0;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 300;
	text-align: center;
	color: #424242;
}
.block.block-contact-phone .phone-url {
	color: #424242;
	text-decoration: none;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.block.block-contact-phone .phone-url:hover {
	color: #ff9800;
}
.block.block-contact-sales-mail {
	padding: 0;
	margin-top: -55px;
}
.block.block-contact-sales-mail a {
	display: inline-block;
	background: #f5f5f5;
	padding: 15px;
	font-weight: 400;
	color: #757575;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 18px;
	font-size: 1.8rem;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.block.block-contact-sales-mail a:hover {
	padding-bottom: 25px;
	margin-top: -10px;
	text-decoration: none;
	color: #ff9800;
}
.block.block-contact-sales-mail a:hover.ru {
	margin-top: 0px;
	padding-bottom: 15px;
}
.block.block-all-contacts {
	padding: 90px 0;
}
.block.block-all-contacts a {
	color: #424242;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	text-decoration: none;
	display: inline-block;
	border-bottom: dotted 1px #bdbdbd;
}
.block.block-all-contacts a:hover {
	color: #ff9800;
}
.block.block-all-contacts .contacts {
	padding: 10px 0;
}
.block.block-all-contacts .contacts:first-child {
	padding-top: 0;
}
.block.block-all-contacts h4.bordered {
	padding-bottom: 10px;
}
.block.block-all-contacts form {
	margin-top: 15px;
}
.block.block-address {
	padding: 15px 0 30px 0;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #bdbdbd;
}
.block.block-address .fa {
	font-size: 42px;
	font-size: 4.2rem;
}
.block.block-price {
	padding: 90px 0;
	background: url('/img/sms_bg/sms_bg_5.png') left no-repeat, url('/img/sms_bg/sms_bg_6.png') right no-repeat;
}
.block.block-price h2 {
	margin: 0 0 15px 0;
}
.block.block-price-logotypes {
	padding: 0 0 90px 0;
}
.block.block-price-logotypes img.img-responsive {
	max-height: 40px;
	display: inline-block;
}
.block.block-content {
	padding: 90px 0;
}
.block.block-content h2 {
	margin-top: 45px;
}
.block.block-content h2:first-child {
	margin-top: 0;
}
.block.block-content h2 .icon {
	display: inline-block;
	margin-top: -5px;
}
.block.block-content .affix-block h4 {
	margin-top: 22px;
}
.block.block-content.capabilities {
	padding-bottom: 0;
}
.block.block-faq .panel-heading {
	border: none !important;
}
.block.block-faq .panel-heading a {
	border-bottom: 1px dotted #bdbdbd;
	text-decoration: none;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.block.block-faq .panel-heading a:hover {
	color: #ff9800;
	border-color: #ff9800;
}
.block.block-faq .panel-body {
	padding-left: 30px;
}
.block.block-capabilities.sms-bg {
	background: url('/img/sms_bg/sms_bg_5.png') left no-repeat, url('/img/sms_bg/sms_bg_6.png') right no-repeat;
}
.block.block-capabilities.sms-bg-2 {
	background: url('/img/sms_bg/sms_bg_1.png') left no-repeat, url('/img/sms_bg/sms_bg_2.png') right no-repeat;
}
.block.block-capabilities h4.media-heading.bordered {
	padding-bottom: 5px;
}
.block.block-capabilities .capabilities-wrapper {
	background: #f5f5f5;
	padding: 90px 0;
}
.block:first-child.block-capabilities {
	padding-top: 0;
}
.block:last-child.block-capabilities {
	padding-bottom: 0;
}
.sub-block .sub-block-title {
	margin: 20px 0;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
}
.sub-block p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-size: 1.4rem;
}
/*===============
Devices
===============*/
.devices .ipad {
	margin: -170px 0 0 200px;
}
.devices .iphone {
	margin: -120px 0 0 200px;
}
/*===============
Video url
===============*/
.video-url {
	width: 100%;
	padding-top: 40px;
	background: url('/img/sms_bg/sms_bg_4.png') no-repeat right, url('/img/sms_bg/sms_bg_3.png') no-repeat left top;
}
.video-url a {
	display: block;
	max-width: 457px;
	height: 258px;
	background: #ccc;
	border-radius: 3px;
}
/*===============
Map
===============*/
.map {
	margin-top: 15px;
}
.map .map-icon {
	position: absolute;
}
.map .map-icon.i-1 {
	width: 28px;
	height: auto;
	margin: 240px 0 0 526px;
}
.map .map-icon.i-2 {
	width: 23px;
	height: auto;
	margin: 55px 0 0 375px;
}
.map .map-icon.i-3 {
	width: auto;
	height: auto;
	margin: 202px 0 0 468px;
}
.map .map-icon.i-4 {
	width: auto;
	height: auto;
	margin: 182px 0 0 321px;
}
.map .map-icon.i-5 {
	width: 21px;
	height: auto;
	margin: 188px 0 0 293px;
}
.map .map-icon.i-6 {
	width: auto;
	height: auto;
	margin: 70px 0 0 404px;
}
.map .map-icon.i-7 {
	width: 19px;
	height: auto;
	margin: 51px 0 0 317px;
}
.map .map-icon.i-8 {
	width: 23px;
	height: auto;
	margin: 72px 0 0 334px;
}
.map .map-icon.i-9 {
	width: auto;
	height: auto;
	margin: 44px 0 0 458px;
}
.map .map-icon.i-10 {
	width: 19px;
	height: auto;
	margin: 126px 0 0 390px;
}
.map .map-icon.i-11 {
	width: 23px;
	height: auto;
	margin: 11px 0 0 216px;
}
.map .map-icon.i-12 {
	width: auto;
	height: auto;
	margin: 29px 0 0 180px;
}
.map .map-icon.i-13 {
	width: 22px;
	height: auto;
	margin: 28px 0 0 98px;
}
.map .map-icon.i-14 {
	width: 18px;
	height: auto;
	margin: 191px 0 0 195px;
}
.map .map-icon.i-15 {
	width: auto;
	height: auto;
	margin: 212px 0 0 149px;
}
.map .map-icon.i-16 {
	width: 24px;
	height: auto;
	margin: 78px 0 0 293px;
}
.map .map-icon.i-17 {
	width: 20px;
	height: auto;
	margin: 129px 0 0 293px;
}
.map .map-icon.i-18 {
	width: auto;
	height: auto;
	margin: 114px 0 0 244px;
}
.map .map-icon.i-19 {
	width: 28px;
	height: auto;
	margin: 144px 0 0 165px;
}
.map .map-icon.i-20 {
	width: 27px;
	height: auto;
	margin: 114px 0 0 115px;
}
.map .map-icon.i-21 {
	width: auto;
	height: auto;
	margin: 67px 0 0 130px;
}
.map .map-icon.i-22 {
	width: 23px;
	height: auto;
	margin: 69px 0 0 83px;
}
/* SMS Infographic */
.sms-infographic {
	position: relative;
}
.sms-infographic img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
/*===============
Fast test form
===============*/
.fast-test {
	padding: 30px;
	background: #f5f5f5;
	border-radius: 3px;
	border-top-left-radius: 0;
	font-weight: 700;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.fast-test .form-group {
	margin-bottom: 0;
}
.fast-test .success-msg {
	height: 45px;
	font-size: 18px;
	font-size: 1.8rem;
	color: #fff;
	text-transform: uppercase;
	line-height: 45px;
	text-align: center;
	font-weight: 400;
}
.fast-test input {
	height: 45px;
	background: #fff;
	box-shadow: none;
	font-size: 18px;
	font-size: 1.8rem;
	display: inline-block;
	color: #757575;
	border-color: #e0e0e0;
}
.fast-test input[disabled] {
	background: #fff;
	color: #bdbdbd;
	cursor: default;
}
.fast-test input:focus {
	box-shadow: none;
	border-color: #ff9800;
}
.fast-test .btn {
	height: 45px;
	line-height: 45px;
	padding: 0;
	border: none;
}
.fast-test .info {
	position: absolute;
	display: block;
	margin-top: -60px;
	line-height: 30px;
	background: #90caf9;
	color: #fff;
	text-transform: uppercase;
	padding: 0 15px;
	margin-left: -30px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-weight: 700;
}
/*===============
Icons
===============*/
.icon {
	height: 35px;
	width: auto;
}
.icon.icon-default {
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	font-size: 1.2rem;
	border-radius: 3px;
}
.icon.icon-large {
	width: 75px;
	height: 75px;
	line-height: 74px;
	margin: 0 auto;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 300;
	color: #fff;
	border-radius: 3px;
}
.icon.icon-large.icon-img {
	line-height: 70px;
}
.icon.icon-large.icon-img img {
	width: 35px;
	height: 35px;
}
.icon.vk {
	background: #54769a;
}
.icon.fb {
	background: #43609c;
}
.icon.lin {
	background: #039be5;
}
.icon.tw {
	background: #41abe1;
}
.icon-wrapper {
	text-align: center;
}
.icon-wrapper img {
	display: inline;
}
/*===============
Price tabs
===============*/
.price-tabs .tab-pane > .nav-tabs {
	margin-top: 15px;
}
.price-tabs .tab-content {
	padding: 15px;
}
/*===============
Footer
===============*/
.footer-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 676px;
}
footer.main {
	background: #424242;
	color: #bdbdbd;
	font-weight: 300;
}
footer.main .first {
	background: #424242;
	padding: 90px 0;
}
footer.main .second {
	padding: 30px 0;
	background: #313131;
}
footer.main .footer-nav {
	padding: 0 0 0 45px;
	margin: 0;
	list-style: none;
	background-repeat: no-repeat;
	background-position: 0 5px;
}
footer.main .footer-nav a {
	color: #fff;
	line-height: 24px;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
footer.main .footer-nav a:hover {
	color: #ff9800;
	text-decoration: none;
}
footer.main .footer-nav.first-block {
	background-image: url('/img/icons/png/home.png');
}
footer.main .footer-nav.second-block {
	background-image: url('/img/icons/png/info.png');
}
footer.main .footer-nav.third-block {
	background-image: url('/img/icons/png/bag.png');
}
footer.main .footer-nav.fourth-block {
	background-image: url('/img/icons/png/phone.png');
}
footer.main .logotypes a {
	display: inline-block;
	margin-right: 15px;
}
footer.main .copyright {
	text-align: center;
}
footer.main .copyright small {
	display: block;
}
footer.main .social {
	text-align: right;
}
footer.main .social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	color: #bdbdbd;
	text-align: center;
}
footer.main .social a:hover {
	color: #ff9800;
}
/*===============
Helpers
===============*/
.w-360 {
	width: 360px;
}
.w-100p {
	width: 100%;
}
.valign-wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}
.valign {
	display: block;
}
.white-space {
	white-space: nowrap;
}
/*===============
Color helpers
===============*/
.bg-indigo-200 {
	background-color: #9fa8da;
}
.bg-blue-200 {
	background-color: #90caf9;
}
.bg-blue-300 {
	background-color: #64b5f6;
}
.bg-green-200 {
	background-color: #a5d6a7;
}
.bg-green-300 {
	background-color: #81c784;
}
.bg-orange-300 {
	background-color: #ffb74d;
}
.bg-orange-500 {
	background-color: #ff9800;
}
.bg-white {
	background: #fff;
}
.white {
	color: #fff;
}
.link-orange {
	color: #f57c00;
}
.link-orange:hover {
	color: #ff9800;
}
.link-orange:focus,
.link-orange:active {
	color: #ffb74d !important;
}
/*===============
UI
===============*/
.btn {
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	border: 0;
}
.btn:hover,
.btn:focus {
	color: #fff;
}
.btn:active {
	box-shadow: none;
}
.btn.btn-large {
	padding: 0 30px;
	line-height: 45px;
}
.btn.btn-orange-fill {
	background-color: #ff9800;
	box-shadow: 0 2px #f57c00;
}
.btn.btn-orange-fill:hover {
	background-color: #ffa726;
}
.btn.btn-orange-fill:active {
	background-color: #fb8c00;
	box-shadow: 0 1px #f57c00;
}
.btn.btn-light-green-fill {
	background-color: #9ccc65;
	box-shadow: 0 2px #7cb342;
}
.btn.btn-light-green-fill:hover {
	background-color: #aed581;
}
.btn.btn-light-green-fill:active {
	background-color: #8bc34a;
	box-shadow: 0 1px #7cb342;
}
.btn.btn-thin {
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #fff;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	padding: 0;
}
.btn.btn-thin:hover {
	background: rgba(255, 255, 255, 0.4);
}
.btn.btn-thin:active {
	background: rgba(255, 255, 255, 0);
	color: #fff;
	box-shadow: none;
}
.btn.btn-thin:focus {
	border: 1px solid #fff;
	color: #fff;
}
.btn.btn-thin-second {
	border-radius: 3px;
	background: none;
	font-weight: 300;
	font-size: 14px;
	font-size: 1.4rem;
}
.btn.btn-thin-second.orange {
	border: 1px solid #ff9800;
	color: #ff9800;
}
.btn.btn-thin-second.orange:hover {
	background: #ff9800;
	color: #fff;
}
.btn.btn-thin-second.orange:active {
	background: #f57c00;
}
.btn.btn-to-top {
	position: fixed;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	width: 45px;
	height: 45px;
	line-height: 42px;
	padding: 0;
	margin: 0 15px 15px 0;
}
.btn.btn-to-top img {
	width: 25px;
}
.btn.btn-to-top:hover {
	line-height: 37px;
	background: rgba(0, 0, 0, 0.4);
}
input.input-thin {
	color: #fff;
	border-radius: 3px;
	background: none;
	border: 1px solid #fff;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	box-shadow: none;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
input.input-thin:focus {
	border: 1px solid #fff;
	box-shadow: 0 0 2px 0px #fff;
}
.input-thin::-webkit-input-placeholder {
	color: #fff;
}
.input-thin:-moz-placeholder,
.input-thin::-moz-placeholder {
	color: #fff;
}
.input-thin:-ms-input-placeholder {
	color: #fff;
}
.label.label-default {
	background: #eeeeee;
	color: #bdbdbd;
	font-size: 10px;
	font-size: 1rem;
	font-weight: 300;
}
.alert {
	border-radius: 3px;
	border: none;
}
ul.styled-fa-check {
	list-style: none;
}
ul.styled-fa-check li:before {
	content: "\f00c";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	width: 15px;
	margin-left: -15px;
	left: -5px;
	color: #4caf50;
}
ul.styled-fa-bulb {
	list-style: none;
}
ul.styled-fa-bulb li:before {
	content: "\f0eb";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	width: 15px;
	margin-left: -15px;
	left: -5px;
	color: #FFC107;
}
/*===============
Elements
===============*/
@media (min-width: 1200px) {
	.affix-block.affix.col-3 {
		width: 262.5px;
	}
}
@media (max-width: 1199px) {
	.affix-block.affix.col-3 {
		width: 212.5px;
	}
}
.nav-affix {
	border-radius: 3px;
}
.nav-affix li {
	padding: 5px 0;
}
.nav-affix li.active a {
	color: #ff9800;
	font-weight: 700;
	background: none;
}
.nav-affix li.active a:hover {
	color: #ff9800;
	background: none;
}
.nav-affix a {
	color: #bdbdbd;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 0 !important;
}
.nav-affix a:hover {
	background: none !important;
	color: #ff9800;
}
.nav-affix a:focus {
	background: none !important;
	color: #ff9800 !important;
}
.affix {
	top: 0;
}
.affix-bottom {
	position: absolute;
}
/*===============
Modals
===============*/
.modal.valign-center .modal-dialog {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0px;
}
.modal.valign-center .modal-dialog .modal-content {
	margin: 0 auto;
}
.modal-reg input.form-control,
.modal-sign-in input.form-control {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	padding: 10px;
	color: #757575;
	font-weight: 700;
	font-size: 16rem;
	font-size: 1.6rem;
	line-height: 22px;
	box-shadow: none;
	height: 45px;
}
.modal-reg label {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.modal-reg input {
	text-align: center;
}
.modal-sign-in form label {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.modal-sign-in form input {
	text-align: center;
}
.modal-sign-in .modal-title {
	text-align: center;
}
.modal-sign-in .modal-footer {
	text-align: center;
	font-size: 14px;
	font-size: 1.4rem;
}
.modal-sign-in .login-social {
	margin-top: 15px;
}
.login-social {
	display: block;
	text-align: center;
}
.login-social a {
	display: inline-block;
	margin: 0 5px;
	opacity: .8;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.login-social a:hover {
	opacity: 1;
}
.login-social a:first-child {
	margin-left: 0;
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
.modal.in .modal-dialog {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.dropdown-menu-white {
	min-width: auto;
	border: none;
	background: #ffffff;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.dropdown-menu-white > li > a {
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}
.dropdown-menu-white > li > a:hover {
	background: rgba(0, 0, 0, 0.03);
}
/*===============
Auth
===============*/
.auth {
	width: 40%;
	margin: 0 auto;
	padding: 30px;
	background: #f5f5f5;
	border-radius: 3px;
}
.auth .auth-nav {
	list-style: none;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
}
.auth .auth-nav > li {
	display: inline-block;
	text-align: center;
	padding: 0;
}
.auth .auth-nav > li a {
	display: block;
	color: #bdbdbd;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 30px;
	border-bottom: 3px solid rgba(200, 200, 200, 0);
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.auth .auth-nav > li a:hover {
	color: #ff9800;
}
.auth .auth-nav > li.active a {
	color: #ff9800;
	border-bottom: 3px solid #ff9800;
}
.login-helper {
	font-size: 12px;
	font-size: 1.2rem;
	margin-top: -5px;
}
.login-helper .form-group {
	margin: 0;
}
.login-helper .help-block {
	margin: 0;
}
.login-helper label {
	margin: 0;
}
.login-helper input[type="checkbox"] {
	position: relative;
	top: 2px;
}
/*===============
BS Fixes
===============*/
.has-feedback-left .form-control {
	padding-left: 30px;
	padding-right: 30px;
}
.has-feedback-left .form-control-feedback {
	line-height: 50px;
	left: 0;
}
.has-feedback-left .form-control-feedback {
	color: #757575;
}
.media-left,
.media > .pull-left {
	padding-right: 15px;
}
.dropdown-menu {
	min-width: 0;
}
span.label {
	position: relative;
	top: -1px;
}
/*===============
Adaptive
===============*/
/*==========
 - XS
==========*/
@media (max-width: 767px) {
	.sales {
		text-align: center;
	}
	.sales .pull-left {
		float: none !important;
	}
	.sales .photo {
		margin: 15px 0 !important;
	}
	body {
		margin-top: 109px !important;
	}
	header.main .navbar-brand {
		display: inline-block;
		margin-top: 10px;
	}
	header.main .navbar-brand img {
		width: 100px;
		height: auto;
	}
	header.main .country {
		margin-top: 10px;
	}
	header.main .country span.visible-xs {
		display: inline !important;
		float: right;
	}
	header.main .header-phone.pull-left {
		float: none !important;
		margin: 60px 0 0 0;
	}
	header.main .navbar-toggle {
		margin-right: -10px;
	}
	header.main .dropdown {
		position: static;
	}
	header.main .dropdown .dropdown-menu {
		width: 100%;
	}
	.affix,
	.affix-block,
	.affix-top,
	.affix-bottom {
		display: none;
	}
	.block-how-to .icon-wrapper {
		text-align: center;
		margin-right: 0 !important;
	}
	.block-how-to .icon-wrapper.pull-left {
		float: none !important;
	}
	.block-how-to .text {
		text-align: center;
	}
	.block-how-to .text.pull-left {
		float: none !important;
	}
	.fast-test .success-msg {
		line-height: 24px;
	}
}
/*==========
 - SM & XS
==========*/
@media (max-width: 991px) {
	body {
		margin-top: 75px;
		margin-bottom: 0;
	}
	.fast-test input {
		margin-bottom: 15px;
	}
	.footer-wrapper {
		position: static;
		height: auto;
	}
	.sms-bg,
	.sms-bg-2 {
		background-image: none !important;
	}
	header.main {
		background: #fff;
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
		position: fixed;
		width: 100%;
		height: auto;
		top: 0;
		z-index: 1010;
	}
	header.main .navbar-nav > li > a {
		padding: 0 15px;
		line-height: 45px;
	}
	.block.block-reviews {
		background: #f5f5f5;
	}
	.block.block-reg {
		background: #f5f5f5;
	}
	.block.block-stat {
		padding: 30px 0;
		color: #fff;
		font-size: 48px;
		font-size: 4.8rem;
		text-transform: uppercase;
	}
	.block.block-stat div {
		margin: 15px 0;
	}
	.block.block-stat small {
		display: block;
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: 300;
		margin-top: -10px;
	}
	.block.mobile-padding-top-0 {
		padding-top: 15px;
	}
	.block.block-contact-phone {
		background-image: none;
		font-size: 22px;
		font-size: 2.2rem;
		font-weight: 400;
	}
	.block.block-price {
		background-image: none;
	}
	.block.block-price-logotypes img {
		margin-bottom: 15px;
	}
	.block.block-for .for-sub-block {
		margin-bottom: 30px;
	}
	.sub-block {
		margin-bottom: 30px;
	}
	.w-360 {
		width: 100%;
	}
	footer.main .footer-nav {
		padding: 45px 0 0 0;
		margin-bottom: 30px;
		text-align: center;
		background-position: top center;
	}
	footer.main .footer-nav a {
		line-height: 40px;
	}
	footer.main .logotypes {
		text-align: center;
	}
	footer.main .copyright {
		text-align: center;
		margin: 15px 0;
	}
	footer.main .social {
		text-align: center;
	}
	footer.main .social a {
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 18px;
		font-size: 1.8rem;
	}
	.modal-content {
		width: 100%;
	}
	.modal-dialog {
		padding: 0 15px;
	}
	.adaptive-table-wrapper {
		display: block;
		width: 100%;
		overflow-x: scroll;
	}
}
/*==========
 - MD
==========*/
@media (min-width: 992px) and (max-width: 1199px) {
	.sms-bg,
	.sms-bg-2 {
		background-image: none !important;
	}
	header.main .navbar-nav > li > a {
		padding: 0 7px;
	}
}
/*==========
 - LG
==========*/
/*==========
 - SM
==========*/
@media (min-width: 768px) and (max-width: 991px) {
	body {
		margin-top: 123px;
	}
	.navbar-center {
		float: left !important;
		display: block;
		width: 100%;
		border-top: solid 2px #f5f5f5;
		text-align: center;
	}
	.navbar-center li {
		display: inline-block;
		float: none;
	}
	header.main {
		padding-bottom: 0;
	}
}
.countries-input .country div {
	display: inline-block;
}

.image {
	display: block;
	background: no-repeat center;
	background-size: cover;
}

.blog-thumbnail {
	width: 100%;
	height: 160px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}
